
/* 搜索框大小 */
body :global(.ant-input-lg){
    height: 60px;
}
body :global(.ant-btn-lg){
    height: 60px;
}

/* menu高度 */
body :global(.ant-menu-horizontal){
    line-height: 60px;
}
body :global(.ant-menu){
    font-size: 18px;
}
body :global(.ant-menu-item ){
    padding-left: 30px;
    padding-right: 30px;
}
/* body :global(.ant-menu){
    font-size: 16px;
} */

.container{
    width: 1002px;
    height: 1500px;
    /* background-color:purple; */
    border-top-style: none;
    border: 1px solid darkgray;
    box-sizing: border-box;

    overflow: hidden;
}

.search{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: yellow;
    padding-bottom: 50px;
    width: 1000px;
    border-right: 1px solid darkgray;
}
.navigationContainer{
    border-right: 1px solid darkgray;
}
/* 轮播图 */
.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 300px;
  }
.ant-carousel .slick-slide img{
    width: 100%;
    height: 100%;
  }
  .slick-list{
      width: 100%;
      height: 300px;
      vertical-align: middle;

  }

  /* 书籍展示 */
  .booksContainer{
    margin: 0 auto;
  }
  .bookLists{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 0,25px,0,25px;
    /* justify-content: flex-start; */
  }

  .book{
      margin-top: 40px;
      background-color: yellow;
      height: 310px;
      width: 200px;
  }
  .book .image{
    height: 250px;
    width: 200px;
  }
  .book .image img{
      width: 100%;
      height: 100%;
  }
  .book .title{
    padding-top: 3px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
  }
  .book .author{
    font-size: 16px;
    text-align: center;
    overflow: hidden;
  }
  .more{
    /* font-size: 30px;
    text-align: center;
    writing-mode: vertical-lr; */
    margin-top: 40px;
    background-color: yellow;
    height: 310px;
    width: 200px;
    color: darkgray;
    transition: color .25s;
    position: relative;
  }
  .more::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    margin-left: -40px;
    margin-top: -5px;
    border-top: 10px solid;
  }
  .more::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    margin-left: -5px;
    margin-top: -40px;
    border-left: 10px solid;
   }
   .more:hover {
    color: #1890ff;
  }
  

